<!--头部引入-->
{include file="common:top"}
{if Cookie::get('think_var')=='en_us'}
<script type="text/javascript">
	$("#menu_div a:contains('Join Jean Leray')").attr("id","redcolor");
</script>
{else/}
<script type="text/javascript">
	$("#menu_div a:contains('加入让雷')").attr("id","redcolor");
</script>
{/if}
	<div id="middle_part">
		<div class="banner about-banner" style="background-image:url(../../static/image/jrzj123.jpg)"></div>
		<div class="content about-content">
			<div class="fyy-section">
				<div class="inner-tit"><img src="/static/picture/f65ab5cada.png" alt=""><i></i></div>
				<div class="inner-cnt">
					<!--头部引入-->
					{include file="common:join_public"}
					<div class="inner-detail">
						<div class="inner-detail-text">
						<h4 style="padding:0px;font-size:24px;font-weight:400;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;color:#195BBE">
							<strong>{:lang('以人为本，尊贤重任')}</strong>
						</h4>
						<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p>
						<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('上海让雷智能科技有限公司通过完善的培训教育体系为员工在职教育和继续学习提供一定条件。通过企业化培训、职业化培训、专业化培训、国际化培训，使员工在企业文化行为塑造方面、员工通用技能和专业技能方面得到全面提升。')}</p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p>
							<h4 style="padding:0px;font-size:24px;font-weight:400;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;color:#195BBE"><strong>{:lang('完善的培训教育体系')}</strong></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p><p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('上海让雷智能科技有限公司为员工的在职教育和继续学习提供了完善的培训教育体系。')}</p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('通过企业化培训、职业化培训、专业化培训、国际化培训，使员工在企业文化行为塑造方面、员工通用技能和专业技能方面得到全面提升。')}</p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p><p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"> </p>
							<h4 style="padding:0px;font-size:24px;font-weight:400;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;color:#195BBE"><strong>{:lang('人尽其才，才尽其用')}</strong></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('上海让雷智能科技有限公司将为员工提供完善的职业发展平台，设计最合适的职业发展通道，将人才发展的自然规律与企业的发展阶段、业务模式和实际需求相结合，使员工的能力得到全面均衡发展，实现人尽其才、才尽其用。')}</p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"></p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('通过企业发展，造就企业家群体和富裕的员工阶层；在拥有丰富的物质财富的同时，追求具有崇高理想和优秀品质的精神财富。')}</p>
							<p><br></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{if Cookie::get('think_var')=='en_us'}
		<script>
			$(".inner-menu li a:contains('Career development')").attr("id","redcolor");
			$("#menu_div a:contains('Career development')").attr("id","redcolor");
		</script>
	{else}
		<script>
			$(".inner-menu li a:contains('职业发展')").attr("id","redcolor");
			$("#menu_div a:contains('职业发展')").attr("id","redcolor");
		</script>
	{/if}
	{include file="common:foot"}
</div>
<div class="back-top">
	<a id="backTop"></a>
</div>
</body>
</html>
