
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>让雷--门户网站后台管理</title>
    <meta name="Copyright" content="Douco Design." />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <!--bootstrop引入-->
    {include file="pub:bootstrop"}
</head>
<body>
<div id="dcWrap">
    <!--顶部-->
    {include file="pub:top"}
    <!--左侧部分-->
    {include file="pub:left"}
    <!--中间部分-->
    <div id="dcMain">
        <div id="urHere"><b>上海让雷智能科技有限公司--运维看板</b></div>
        <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
            <div>
                <a href="{:url('fiber_ch_list')}">化纤中文平台</a>
                <br>
                <a href="{:url('fiber_en_list')}">化纤英文平台</a>
                <br>
                <a href="{:url('non_ch_list')}">无纺中文平台</a>
                <br>
                <a href="{:url('non_en_list')}">无纺英文平台</a>
                <br>
                <a href="{:url('zhi_ch_list')}">制品中文平台</a>
                <br>
                <a href="{:url('zhi_en_list')}">制品英文平台</a>
                <br>
                <a href="{:url('sha_ch_list')}">纱线中文平台</a>
                <br>
                <a href="{:url('sha_en_list')}">纱线英文平台</a>
            </div>
        </div>
        <!--引入尾部-->
        {include file="pub:foot"}
    </div>
</div>
</body>
</html>