
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>让雷--门户网站后台管理</title>
    <meta name="Copyright" content="Douco Design." />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <script type="text/javascript" src="/static/js/time.js"></script>
    <!--bootstrop引入-->
    {include file="pub:bootstrop"}
</head>
<body>
<div id="dcWrap">
    <!--顶部-->
    {include file="pub:top"}
    <!--左侧部分-->
    {include file="pub:left"}
    <!--中间部分-->
    <div id="dcMain">
        <div id="urHere"><b>上海让雷智能科技有限公司--运维看板--无纺英文平台信息录入</b></div>
        <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
            <div class="input-group">
                <input type="text" class="form-control" disabled aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><a href="{:url('Devops/data_name_index')}">看板信息点管理</a></span>
            </div>
            <div style="margin-top: 50px;width: 600px;margin: auto">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">日期：</label>
                        <input type="text" name="form_time" id="form_time" placeholder="点击选择日期" onClick="new Calendar().show(this)" class="inpMain form-control">
                    </div>
                    {volist name='non_en_title' id='data'}
                        <div class="form-group">
                            <label for="exampleInputEmail1">{$data.data_name}：</label>
                            <input type="text" name="contents" class="form-control" id="{$data.id}">
                        </div>
                    {/volist}
                </form>
                <button type="submit" id="submit" class="btn btn-default">提交</button>
            </div>
        </div>
        <!--引入尾部-->
        {include file="pub:foot"}
    </div>
</div>
<script>
    $("#submit").click(function(){
        var result=true;
        var array=new Array();
        var time = $("#form_time").val();
        if(time==""){
            alert('请选择日期');return;
        }
        $("input[name='contents']").each(function(){
            var data=$(this).val();
            if(data=="")
            {
                alert('请填写完整');
                result = false;
                return false;
            }else{
                array.push($(this).attr('id')+'|'+data);
            }
        })
        //如果循环中一个有问题，则不再往下循环
        if (!result){
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:url('Devops/non_en_add')}",
            data: {
                array:array,
                time:time,
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    layer.msg(data.msg);
                    setTimeout(function(){
                        window.location.reload();//刷新当前页面.
                    },1000)
                }else{
                    layer.msg(data.msg);
                }
            }
        })
    })
</script>
</body>
</html>