
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>让雷--门户网站后台管理</title>
    <meta name="Copyright" content="Douco Design." />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <!--bootstrop引入-->
    {include file="pub:bootstrop"}
    <style type="text/css">
        th{
            text-align: center
        }
    </style>
</head>
<body>
<div id="dcWrap">
    <!--顶部-->
    {include file="pub:top"}
    <!--左侧部分-->
    {include file="pub:left"}
    <!--中间部分-->
    <div id="dcMain">
        <div id="urHere"><b>上海让雷智能科技有限公司--运维看板--制品中文平台</b></div>
        <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
            <div class="input-group">
                <input type="text" class="form-control" disabled aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><a href="{:url('Devops/data_name_index')}">看板信息点管理</a></span>
                <span class="input-group-addon" id="basic-addon2"><a href="{:url('Devops/zhi_ch_add')}">添加今日数据</a></span>
            </div>
            <div style="margin-top: 20px;;text-align:center">
                <table class="table table-hover">
                    <tr>
                        <th>序号</th>
                        <th>创建时间</th>
                        <th>创建人</th>
                        <th>平台类型</th>
                        <th>操作</th>
                    </tr>
                    {foreach $zhi_ch_devops as $key=>$val}
                        <tr>
                            <td>{$key+1}</td>
                            <td>{$val.create_time}</td>
                            <td>{$val.create_by}</td>
                            <td>{$val.platform_name}</td>
                            <td>
                                <a href="{:url('Devops/see_detail',['create_time'=>$val.create_time,'platform_name'=>'制品中文平台'])}">查看</a>
                                |
                                <a class="delete" id="{$val.create_time}">删除</a>
                                |
                                <a>修改</a>
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>
        </div>
        <!--引入尾部-->
        {include file="pub:foot"}
    </div>
</div>
<script>
    $(".delete").click(function(){
        var create_time     =   $(this).attr("id");
        var platform_name   =   '制品中文平台';
        //询问框
        layer.confirm('您确定删除该日的记录？', {
            btn: ['是','否'] //按钮
        }, function(){
            $.ajax({
                type: "post",
                url: "{:url('Devops/zhi_ch_delete')}",
                data: {
                    create_time:create_time,
                    platform_name:platform_name
                },
                dataType: "json",
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.reload();//刷新当前页面.
                        },1000)
                    }else{
                        layer.msg(data.msg);
                    }
                }
            })
        }, function(){
        });
    })
</script>
</body>
</html>