<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, intial-scale=1, maxium-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/huaqian.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/imouplayer.js"></script>
    <!-- 引入 ECharts 文件 -->
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="toptitle">{$devops_type} 运维中心</div>
    <div class="prev" style="cursor:pointer;">返回</div>
    <div class="topTime"></div>
    <div class="wbody">
<!--        <a href="{:url('Operate/operateBigScreen',['platform_name'=>$devops_type])}">asasa</a>-->
        <div class="wLeft">
            <div class="wLeftbg1">
                <div class="iconp">
                    <img src="/devops_imgs/Licon1.png" alt="" style="width:65px;height:65px">
                    <p>每日访问量</p>
                </div>
                <div>
                    <div id="main" style="width:380px; height: 280px"></div>
                </div>
            </div>
            <div class="wLeftbg2">
                <div class="iconp">
                    <img src="/devops_imgs/fangwenliang.png" alt="" style="width:65px;height:65px">
                    <p>累计访问量</p>
                </div>
                <div>
                    <div id="main2" style="width:380px; height: 400px"></div>
                </div>
            </div>
        </div>
        <div class="wCenter">
            <div class="wCenterbg1">
                <div style="display: flex; align-items: center;">
                    <div class="iconp" id="rl">
                        <img src="/devops_imgs/cIcon1.png" alt="" style="width:65px;height:65px">
                        <p style="width: 103px;
                                cursor: pointer;
                                height: 38px;
                                background: #8BDBFC;
                                line-height: 38px;
                                text-align: center;
                                border-radius: 19px;color: black;">让雷监控</p>
                    </div>
                    <div class="iconp" id="zgc">
                        <img src="/devops_imgs/cIcon1.png" alt="" style="width:65px;height:65px">
                        <p style="width: 103px;
                                cursor: pointer;
                                border-radius: 19px;">缔荣监控</p>
                    </div>
                    <div class="iconp" id="gc">
                        <img src="/devops_imgs/cIcon1.png" alt="" style="width:65px;height:65px">
                        <p style="width: 103px;
                                cursor: pointer;
                                border-radius: 19px;">济南工厂</p>
                    </div>
                    <div class="iconp" style="margin-left: 20px;" id="wangye">
                        <span><img src="/devops_imgs/wangye.png" alt="" style="vertical-align: middle;width: 20px;height: 20px;"></span>
                        <p style="margin-left: 15px;cursor: pointer;" >网页</p>
                    </div>
                </div>
                <!--    监控区    -->
                <div class="wCenterbg1div" id="rl_k">
                    <iframe
                            src="{$url}"
                            width="727"
                            height="427"
                            id="ysopen"
                            frameborder="no"
                            allowfullscreen
                    >
                    </iframe>
                </div>
                <div class="wCenterbg1div1" id="gc_k" hidden></div>
                <!--    网页      -->
                <div class="wCenterbg1div1" id="wangye_k" hidden>
                    <div onclick="ifram()">
                        <iframe
                                src="https://www.chinafibermarketing.cn"
                                width="727"
                                height="427"
                                id="ifwang"
                                allowfullscreen
                        >
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="wCenterbg2">
                <div class="iconp">
                    <img src="/devops_imgs/usericon.png" alt="" style="width:65px;height:65px">
                    <p>数据采集分析</p>
                </div>
                <div class="tableBox">
                    <table>
                        <thead>
                        <tr>
                            <th class="fz" style="display: flex;justify-content: flex-start;align-items: center;">
                                <span></span>数据来源</th>
                            {foreach $data_analysis_result.title as $key=>$item}
                            <th class="fz">{$item}</th>
                            {/foreach}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="fz"
                                style="display: flex;justify-content: flex-start;align-items: center;">
                                <span></span>今日访问量</td>
                            {foreach $data_analysis_result.today_data as $key=>$item}
                            <td class="t1">{$item}</td>
                            {/foreach}

                        </tr>
                        <tr>
                            <td class="fz"
                                style="display: flex;justify-content: flex-start;align-items: center;">
                                <span></span>历史访问量</td>
                            {foreach $data_analysis_result.history_data as $key=>$item}
                            <td class="t2">{$item}</td>
                            {/foreach}
                        </tr>
                        <tr>
                            <td class="fz"
                                style="display: flex;justify-content: flex-start;align-items: center;">
                                <span></span>比昨日新增量</td>
                            {foreach $data_analysis_result.difference as $key=>$item}
                            <td class="t3">{$item}</td>
                            {/foreach}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="wRight">
            <div class="wRightbg1">
                <div class="iconp">
                    <img src="/devops_imgs/Licon1.png" alt="" style="width:65px;height:65px">
                    <p>综合数据统计</p>
                </div>
                <div class="wRightTxt">
                    <div class="wRightlist">
                        <p>每日访问量总计</p>
                        <p class="wRightlistnum">{$data_analysis_result.today_data_sum}</p>
                    </div>
                    <div class="wRightLine"></div>
                    <div class="wRightlist">
                        <p>累计访问量总计</p>
                        <p class="wRightlistnum">{$data_analysis_result.data_sum}</p>
                    </div>
                </div>
            </div>
            <div class="wRightbg2">
                <div class="iconp">
                    <img src="/devops_imgs/icon-contrastselect .png" alt="" style="width:65px;height:65px">
                    <p>较昨日新增/减少</p>
                </div>
                <div>
                    <div id="main3" style="width:400px; height: 240px"></div>
                </div>
            </div>
            <div class="wRightbg3">
                <div class="iconp">
                    <img src="/devops_imgs/icon-contrastselect .png" alt="" style="width:65px;height:65px">
                    <p>近30天访问量</p>
                </div>
                <div>
                    <div id="main4" style="width:360px; height: 280px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //让雷监控
    $('#rl').click(function(){
        $("#gc_k").hide();                                       //隐藏工厂监控
        $(".wCenterbg1div").show();
        $("#wangye_k").hide();
        //办公室监控显示
        $("#zgc").children('p').removeAttr("style");            //移除中关村监控按钮样式
        $("#gc").children('p').removeAttr("style");             //移除工厂监控按钮样式
        $("#wangye").children('p').removeAttr("style");         //移除网页按钮样式
        $(this).children('p').css('color','black');
        $(this).children('p').css('background','#8BDBFC');
        $(this).children('p').css('border-radius','19px');
        $(this).children('p').css('line-height','38px');
        $(this).children('p').css('text-align','center');
        $(this).children('p').css('width','103px');
        $("#gc").children('p').css('cursor','pointer');         //工厂小手
        $("#zgc").children('p').css('cursor','pointer');        //中关村小手
        $("#wangye").children('p').css('cursor','pointer');     //网页小手
        var html =  "";
        $.ajax({
            type: "POST",
            url: "{:url('Devops/ajaxGetAccessToken')}",
            data: {
                eqnumber:'E66358911',
                passageway:'1'
            },
            dataType: "json",
            success: function (data) {
                if(data.code==200){
                    html +="<div class='wCenterbg1div' id='rl_k'>";
                    html +="<iframe src=" + data.url + " width='727' height='427' id='open_rl_front' allowfullscreen ></iframe>";
                    html +="</div>";
                    $(".wCenterbg1div").replaceWith(html);
                }else{
                    alert(data.msg);
                }
            }
        })
    })
    //中关村监控
    $('#zgc').click(function(){
        $("#gc_k").hide();
        $("#wangye_k").hide();//隐藏工厂监控
        $(".wCenterbg1div").show();                                      //办公室监控显示
        $("#wangye").children('p').removeAttr("style");
        $("#rl").children('p').removeAttr("style");
        $("#gc").children('p').removeAttr("style");
        $("#wangye").children('p').css("margin-left",'10px');
        $(this).children('p').css('color','black');
        $(this).children('p').css('background','#8BDBFC');
        $(this).children('p').css('border-radius','19px');
        $(this).children('p').css('line-height','38px');
        $(this).children('p').css('width','103px');
        $(this).children('p').css('text-align','center');
        $("#wangye").children('p').css('cursor','pointer');
        $("#rl").children('p').css('cursor','pointer');
        $("#gc").children('p').css('cursor','pointer');
        var html =  "";
        $.ajax({
            type: "POST",
            url: "{:url('Devops/ajaxGetAccessToken')}",
            data: {
                eqnumber:'E62524589',
                passageway:'3'
            },
            dataType: "json",
            success: function (data) {
                if(data.code==200){
                    html +="<div class='wCenterbg1div' id='zgc_k'>";
                    html +="<iframe src=" + data.url + " width='727' height='427' id='open_rl_front' allowfullscreen ></iframe>";
                    html +="</div>";
                    $(".wCenterbg1div").replaceWith(html);
                }else{
                    alert(data.msg);
                }
            }
        })
    })
    //工厂监控
    $('#gc').click(function(){
        $("#wangye_k").hide();
        $("#wangye").children('p').removeAttr("style");
        $("#rl").children('p').removeAttr("style");
        $("#zgc").children('p').removeAttr("style");
        $("#wangye").children('p').css("margin-left",'10px');
        $(this).children('p').css('color','black');
        $(this).children('p').css('background','#8BDBFC');
        $(this).children('p').css('border-radius','19px');
        $(this).children('p').css('line-height','38px');
        $(this).children('p').css('width','103px');
        $(this).children('p').css('text-align','center');
        $("#wangye").children('p').css('cursor','pointer');
        $("#rl").children('p').css('cursor','pointer');
        $("#zgc").children('p').css('cursor','pointer');
        //后台获取kitToken,URL访问监控视频
        $.ajax({
            type: "POST",
            url: "{:url('Devops/jiNanJK')}",
            data: {},
            dataType: "json",
            success: function (data) {
                console.log(data);
                if(data.code=='200'){
                    $(".wCenterbg1div").hide();
                    $("#gc_k").show();
                    const player = new ImouPlayer('#gc_k');
                    // 播放器初始化
                    player.setup({
                        src: [
                            {
                                url: 'imou://open.lechange.com/5K03C42PAZ34B44/4/1?streamId=1',
                                kitToken: data.kitToken[0]
                            },
                            {
                                url: 'imou://open.lechange.com/5K03C42PAZ34B44/3/1?streamId=1',
                                kitToken: data.kitToken[1]
                            },
                            {
                                url: 'imou://open.lechange.com/5K03C42PAZ34B44/0/1?streamId=1',
                                kitToken: data.kitToken[2]
                            }
                        ],
                        width: 727,
                        height: 427,
                        poster: '',
                        autoplay: true,
                        controls: true,
                    });
                }else{
                }
            }
        })
    })
    //网页
    $('#wangye').click(function(){
        $("#gc").children('p').removeAttr("style");
        $("#rl").children('p').removeAttr("style");
        $("#zgc").children('p').removeAttr("style");
        $("#wangye").children('p').css("margin-left",'10px');
        $(this).children('p').css('color','black');
        $(this).children('p').css('background','#8BDBFC');
        $(this).children('p').css('border-radius','19px');
        $(this).children('p').css('line-height','38px');
        $(this).children('p').css('width','103px');
        $(this).children('p').css('text-align','center');
        $("#wangye").children('p').css('cursor','pointer');
        $("#rl").children('p').css('cursor','pointer');
        $("#zgc").children('p').css('cursor','pointer');
        $(".wCenterbg1div").hide();
        $("#wangye_k").show();
        $("#gc_k").hide();
    })

    $(".prev").click(function(){
        window.location.href="http://www.shjlit.com/index/devops/index";
    })

    //网页窗口监听点击跳转
    var IframeOnClick = {
        resolution: 200,
        iframes: [],
        interval: null,
        Iframe: function() {
            this.element = arguments[0];
            this.cb = arguments[1];
            this.hasTracked = false;
        },
        track: function(element, cb) {
            this.iframes.push(new this.Iframe(element, cb));
            if (!this.interval) {
                var _this = this;
                this.interval = setInterval(function() { _this.checkClick(); }, this.resolution);
            }
        },
        checkClick: function() {
            if (document.activeElement) {
                var activeElement = document.activeElement;
                for (var i in this.iframes) {
                    if (activeElement === this.iframes[i].element) { // user is in this Iframe
                        if (this.iframes[i].hasTracked == false) {
                            this.iframes[i].cb.apply(window, []);

                            this.iframes[i].hasTracked = true;
                        }
                    } else {
                        this.iframes[i].hasTracked = false;
                    }
                }
            }
        }
    };
    // 监听点击事件
    IframeOnClick.track(document.getElementById("ifwang"), function(){
        //做你想做的事情
        window.location.href="https://www.chinafibermarketing.cn";
    });
</script>
<script type="text/javascript">
    window.onload=function(){
        //每1秒刷新时间
        setInterval("NowTime()",1000);
    }
    function NowTime() {
        var myDate = new Date;
        var year = myDate.getFullYear();
        var mon = myDate.getMonth() + 1;
        var date = myDate.getDate();
        var h = myDate.getHours();
        var m = myDate.getMinutes();
        var s = myDate.getSeconds();
        //检查是否小于10
        h=check(h);
        m=check(m);
        s=check(s);
        var week = myDate.getDay();
        var weeks = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        // $(".hms").html(h + ":" + m + ":" + s);
        // $(".week").html(weeks[week]);
        $(".topTime").html(year + '年' + mon + '月' + date + '日'+ ' ' + h + ":" + m + ":" + s);
    }
    function check(i){
        //方法一，用三元运算符
        var num;
        i<10?num="0"+i:num=i;
        return num;
    }
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: "{:url('Devops/ajax_data')}",
            data: {},
            dataType: "json",
            success: function (data) {
                //console.log(data);return;
                today(data.today_data)
                history(data.history_data)
                difference(data.difference)
                future(data.near_future_data)
                getkitToken();
            }
        })
    })

    function today(today_data) {
        // =====================================  每日访问量  ===========================================
        var myChart = echarts.init(document.getElementById("main"));
        var title   =   today_data.title;
        var data    =   today_data.today_data;
        //console.log(data);
        let option = {
            legend: {
                show: true,
                data: title,
                icon: "react",   //  这个字段控制形状  类型包括 circle，rect ，roundRect，triangle，diamond，pin，arrow，none
                itemWidth: 10,  // 设置宽度
                itemHeight: 10, // 设置高度
                itemGap: 8, // 设置间距
                left: 'center',
                bottom: 0,
                textStyle: {
                    color: '#70C5FF'
                },
            },
            color: ['#30A3F1', '#E94A4B', '#DF8B1F', '#9E8A6A', '#58DDD8', '#7F7AE2', '#61B76F', '#77C8FF', '#E672FF'],
            angleAxis: {
                //极坐标系的角度轴
                axisTick: {
                    //坐标轴刻度设置
                    show: false
                },
                splitLine: {
                    //分割线设置
                    show: false,
                },
                axisLabel: {
                    //刻度标签设置
                    show: false
                },
                axisLine: {
                    //坐标轴轴线设置
                    show: false,
                },
            },
            radiusAxis: {
                //极坐标系的径向轴
                type: 'category',
                z: 10,

                axisTick: {
                    //坐标轴刻度设置
                    show: false
                },
                axisLine: {
                    //坐标轴轴线设置
                    show: false,
                },
            },
            polar: {
            },
            series: data,
        };
        myChart.setOption(option);
    }
    function history(history_data) {
        // =====================================  累计访问量  ===========================================
        var myChart2 = echarts.init(document.getElementById("main2"));
        var sum     =   history_data.history_data;
        var title   =   history_data.title;
        let option2 = {
            grid: {
                left: '1%',
                right: '8%',
                bottom: '2%',
                containLabel: true
            },
            xAxis: {
                type: "value",
                data: sum,
                //   x轴字体颜色
                // axisLine: {
                //     lineStyle: {
                //         color: "#fff",
                //     },
                // },
                axisTick: {
                    show: false, //隐藏刻度线
                },
                // x轴轴线颜色和字体颜色
                axisLine: {
                    lineStyle: {
                        type: 'solid',
                        color: '#00609B',
                        width: '1'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#82C2ED'
                    }
                },
                //设置网格线颜色
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: ['#315070'],
                        width: 1,
                        type: 'solid'
                    }
                }
                // boundaryGap: [0, 0.01],
            },
            yAxis: {
                type: "category",
                // splitLine: { show: false }, //去除网格线
                //   y轴字体颜色
                // axisLine: {
                //     lineStyle: {
                //         color: "#fff",
                //     },
                // },
                axisTick: {
                    show: false, //隐藏刻度线
                },
                // y轴轴线颜色和字体颜色
                axisLine: {
                    lineStyle: {
                        type: 'solid',
                        color: '#00609B',
                        width: '1'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#82C2ED'
                    }
                },
                data: title
            },
            series: [
                {
                    barWidth: "70%",
                    itemStyle: {
                        normal: {
                            // barBorderRadius: [10, 10, 0, 0], // 设置柱状图圆角
                            label: {
                                // show: true, //开启显示
                                position: 'right', //在上方显示
                                textStyle: { //数值样式
                                    color: '#fff',
                                    fontSize: 10
                                },
                            },
                            //右，下，左，上（0，0，0，1）表示从正右开始向左渐变
                            color: function (params) {
                                var colorList = [
                                    ["#2D9CE7", "#6FC0F7"],
                                    ["#E94A4B", "#EF6F6F"],
                                    ["#DF8B1F", "#F3B463"],
                                    ["#9E8A6A", "#B38945"],
                                    ["#33D0CA", "#73E7E3"],
                                    ["#7F7AE2", "#6861EF"],
                                    ["#61B76F", "#39D352"],
                                    ["#77C8FF", "#77C8FF"],
                                    ["#CF43ED", "#D962F3"],
                                ];
                                var colorItem = colorList[params.dataIndex];
                                //console.log(colorItem);
                                return new echarts.graphic.LinearGradient(
                                    0,
                                    0.3,
                                    0,
                                    1,
                                    [
                                        {
                                            offset: 0,
                                            color: colorItem[0],
                                        },
                                        {
                                            offset: 1,
                                            color: colorItem[1],
                                        },
                                    ],
                                    false
                                );
                            },
                        },
                    },
                    data: [20000, 22000, 15000, 5000, 5000, 18000, 4000, 8000, 5000],
                    type: "bar",
                    // showBackground: true, //显示背景色
                },
            ],
        };
        myChart2.setOption(option2);
    }
    function difference(difference) {
        // =====================================  较昨日新增/减少  ===========================================
        var myChart3 = echarts.init(document.getElementById("main3"));
        var title   =   difference.title;
        var differences  =   difference.difference;
        let option3 = {
            grid: {
                left: '1%',
                right: '8%',
                bottom: '2%',
                containLabel: true
            },
            legend: {
                show: true,
                data: title,
                icon: "react",   //  这个字段控制形状  类型包括 circle，rect ，roundRect，triangle，diamond，pin，arrow，none
                itemWidth: 10,  // 设置宽度
                itemHeight: 10, // 设置高度
                itemGap: 8, // 设置间距
                left: 'center',
                bottom: 0,
                textStyle: {
                    color: '#70C5FF'
                },
            },

            color: ['#30A3F1', '#E94A4B', '#DF8B1F', '#9E8A6A', '#58DDD8', '#7F7AE2', '#61B76F', '#77C8FF', '#E672FF'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '50%'],
                    data: differences.sort(function (a, b) { return a.value - b.value; }),
                    roseType: 'radius',
                    label: {
                        show: true,
                        formatter: '{b} : {c}',
                        color: 'rgba(119, 200, 255, 1)'
                    },
                    labelLine: {
                        show: true,
                        lineStyle: {
                            color: 'rgba(119, 200, 255, 1)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    },
                    // itemStyle: {
                    //     color: '#c23531',
                    //     shadowBlur: 200,
                    //     shadowColor: 'rgba(0, 0, 0, 0.5)'
                    // },
                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };
        myChart3.setOption(option3);
    }
    function future(near_future_data) {
        // =====================================  近30天访问量 ==========================================
        var myChart4 = echarts.init(document.getElementById("main4"));
        var title   =   near_future_data.title;
        var date    =   near_future_data.date;
        var data    =   near_future_data.data;
        let option4 = {
            color: ['#2085CA', '#DF1F20', '#DF8B1F', "#9E8A6A", "#61B7B4", "#6561B7", "#61B76F", "#77C8FF", "#E672FF"],
            legend: {
                data: title,
                icon: "react",   //  这个字段控制形状  类型包括 circle，rect ，roundRect，triangle，diamond，pin，arrow，none
                itemWidth: 10,  // 设置宽度
                itemHeight: 10, // 设置高度
                itemGap: 8, // 设置间距
                left: 25,
                top: 10,
                textStyle: {
                    color: '#70C5FF'
                },
            },
            grid: {
                left: '10%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date,
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#70C5FF'
                    },

                },
                axisLine: {

                    lineStyle: {
                        color: '#70C5FF',
                        width: 1,//这里是为了突出显示加上的
                    }
                },
                splitLine: {    //网格线
                    lineStyle: {
                        color: '#70C5FF',
                        type: 'dashed',   //设置网格线类型 dotted：虚线   solid:实线
                    },
                    show: true //隐藏或显示
                }
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#70C5FF'
                    },

                },
                axisLine: {
                    lineStyle: {
                        color: '#70C5FF',
                        width: 1,//这里是为了突出显示加上的
                    }
                },
                splitLine: {
                    show: false
                }
            },
            series: data
        };
        myChart4.setOption(option4);
    }

</script>
</body>
</html>