<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运维看板</title>
</head>

<body>


<a href="{:url('Devops/devops_center',['id'=>'化纤中文平台'])}">化纤中文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'化纤英文平台'])}">化纤英文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'无纺中文平台'])}">无纺中文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'无纺英文平台'])}">无纺英文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'制品中文平台'])}">制品中文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'制品英文平台'])}">制品英文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'纱线中文平台'])}">纱线中文平台</a>
<a href="{:url('Devops/devops_center',['id'=>'纱线英文平台'])}">纱线英文平台</a>



</body>

</html>