
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>让雷--门户网站后台管理</title>
    <meta name="Copyright" content="Douco Design." />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <!--bootstrop引入-->
    {include file="pub:bootstrop"}
    <style type="text/css">
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<div id="dcWrap">
    <!--顶部-->
    {include file="pub:top"}
    <!--左侧部分-->
    {include file="pub:left"}
    <!--中间部分-->
    <div id="dcMain"> <!-- 当前位置 -->
        <div id="urHere"><b>上海让雷智能科技有限公司--客户营销管理查看</b></div>


        <div style="margin-top: 20px">
            <ol class="breadcrumb" style="height:50px">
                <div style="float: right">
                    <div style="float:left">
                        <select id="is_fob">
                            {if $is_fob==null}
                                <option value="0" selected>默认</option>
                                <option value="1">化纤平台</option>
                                <option value="2">无纺平台</option>
                            {elseif $is_fob==1}
                                <option value="0">默认</option>
                                <option value="1" selected>化纤平台</option>
                                <option value="2">无纺平台</option>
                            {else $is_fob==2}
                                <option value="0">默认</option>
                                <option value="1">化纤平台</option>
                                <option value="2" selected>无纺平台</option>
                            {/if}
                        </select>
                    </div>
                    <div class="input-group" style="width: 200px;float: right">
                        <input type="text" class="form-control" id="customer_name" placeholder="全称搜索">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchs" type="button">搜索</button>
                        </span>
                    </div>
                </div>
            </ol>
        </div>

        <table class="table table-hover">
            <tr>
                <th>序号</th>
                <th>管理员</th>
                <th>客户管理数量</th>
                <th>操作</th>
            </tr>
            {volist name="admin" id="data"}
            <tr>
                <td>{$no++}</td>
                <td>{$data.name}</td>
                <td>{$data.nums}</td>

                <td>
                    <a href="{:url('Customer/check_customer_see',['admin_id'=>$data.id])}">
                        前往查看
                    </a>
                </td>
            </tr>
            {/volist}
        </table>

        <!--引入尾部-->
        {include file="pub:foot"}
    </div>
</div>

<!--下拉栏平台类型查询-->
<script type="application/javascript">

    function post(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS){
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }

    //客户平台类型查询
    $(document).on('change',"select[id='is_fob']",function(){
        var is_fob =  $("#is_fob option:selected").val();
        if(is_fob==0){
            window.location.href="{:url('Customer/customer_index')}";return;
        }
        var data={
            is_fob:is_fob
        }
        post("{:url('Customer/customer_type_search')}",data);
    })


    $("#searchs").click(function () {
        var customer_name=$("#customer_name").val();
        var data={
            customer_name:customer_name
        }
        post("{:url('Customer/customer_type_search')}",data);
    })



    //报价状态查询
    $(document).on('change',"select[id='is_over']",function(){
        var is_over =  $("#is_over option:selected").val();
        if(is_over==0){
            window.location.href="{:url('Customer/customer_index')}";return;
        }
        var data={
            is_over:is_over
        }
        post("{:url('Customer/offer_price_search_status')}",data);
    })




    //询单进行报价
    $(".enquiry_offer").click(function(){
        var enquiry_id = $(this).attr('id');
        layer.prompt({title: '请填写该询单的对应报价，填写单位，价格和单位用"|"隔开', formType: 2}, function(price,index){

            $.ajax({
                type: "POST",
                url: "{:url('Customer/enquiry_offer')}",
                data: {
                    price:price,
                    enquiry_id:enquiry_id
                },
                dataType: "json",
                success:function(result){
                    if(result.code==200){
                        layer.msg(result.msg);
                        setTimeout(function(){
                            window.location.reload();
                        } ,1000)
                    }else{
                        layer.msg(result.msg);
                    }
                }
            })
            layer.close(index);
        });
    })

    //按钮查询
    $("#search").click(function(){
        var search_content = $("#search_content").val().trim();
        if(search_content==""){
            layer.msg("请输入要查询的内容！");return;
        }
        var data={
            search_content:search_content
        };
        post("{:url('Customer/purchaser_enquiry_search_button')}",data);
    })




</script>


</body>
</html>