
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>让雷--门户网站后台管理</title>
    <meta name="Copyright" content="Douco Design." />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <!--bootstrop引入-->
    {include file="pub:bootstrop"}
    <style type="text/css">
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<div id="dcWrap">
    <!--顶部-->
    {include file="pub:top"}
    <!--左侧部分-->
    {include file="pub:left"}
    <!--中间部分-->
    <div id="dcMain"> <!-- 当前位置 -->
        <div id="urHere"><b>上海让雷智能科技有限公司--客户营销系统</b></div>
        <div style="margin-top: 30px">

            <!--  供应商管理  -->
            <a href="{:url('Customer/supplier_index')}">
                <button  type="button" style="width: 50%;float: left" class="btn btn-default btn-lg">供应商管理</button>
            </a>

            <!--  采购商管理  -->
            <a href="{:url('Customer/purchaser_index')}">
                <button type="button" style="width: 50%" class="btn btn-default btn-lg">采购商管理</button>
            </a>


        </div>


        <div style="margin-top:20px">
            <ol class="breadcrumb">
                <li class="active">报价管理
                    <a href="{:url('Customer/supplier_offer_price_index')}"><img src="/market/img/enter.png" title="前往管理"></a>
                </li>
                <div style="float: right">
                    <div style="float:left">
                        <a href="{:url('Customer/supplier_offer_price_add')}"><button class="btn btn-default" type="submit">新增报价</button></a>
                    </div>

                    <div style="float:left">
                        <select id="is_over">
                            {if $is_over==null}
                            <option value="0" selected>默认</option>
                            <option value="1">未过期报价</option>
                            <option value="2">已过期报价</option>
                            {elseif $is_over==1}
                            <option value="0">默认</option>
                            <option value="1" selected>未过期报价</option>
                            <option value="2">已过期报价</option>
                            {else $is_over==2}
                            <option value="0">默认</option>
                            <option value="1">未过期报价</option>
                            <option value="2" selected>已过期报价</option>
                            {/if}
                        </select>
                    </div>
                </div>
            </ol>
        </div>

        <table class="table table-hover">
            <tr>
                <th >序号</th>
                <th>供应商</th>
                <th>产品</th>
                <th>价格</th>
                <th>开始日期</th>
                <th>结束日期</th>
                <th>报价状态</th>
                <th>报价记录人</th>
                <th>操作</th>
            </tr>
            {if empty($supplier_offer_price)}
                <tr>
                    <td colspan="9">对不起！暂未查询到相关报价！</td>
                </tr>
            {else}
                {volist name="supplier_offer_price" id="data"}
                <tr>
                    <td>{$supplier_no++}</td>
                    <td>{$data.suppliers_name}</td>
                    <td>{$data.supplier_products_name}</td>
                    <td>{$data.price}/{$data.unit}</td>
                    <td>{$data.start_time}</td>
                    <td>{$data.end_time}</td>
                    <td>
                        {if $data.price_status==1}
                        <font color="green">报价有效期</font>
                        {else}
                        <font color="red">报价已失效</font>
                        {/if}
                    </td>
                    <td>{$data.create_admin_name}</td>
                    <td>修改</td>
                </tr>
                {/volist}
            {/if}

        </table>
        {if empty($supplier_offer_price)}

        {else}
            <div style="text-align: center">
                {$supplier_offer_price|raw}
            </div>
        {/if}

        <div style="height: 30px"></div>

        <div style="margin-top: 20px">
            <ol class="breadcrumb" style="height:50px">
                <li class="active">询单管理
                    <a href="{:url('Customer/purchaser_enquiry_index')}"><img src="/market/img/enter.png" title="前往管理"></a>
                </li>
                <div style="float: right">
                    <div style="float:left">
                        <a href="{:url('Customer/purchaser_enquiry_add')}"><button class="btn btn-default" type="submit">新增询单</button></a>
                    </div>

                    <div class="input-group" style="width: 200px;float: right">
                        <input type="text" id="search_content" class="form-control" placeholder="询单编号/单位名称">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="search" type="button">搜索</button>
                        </span>
                     </div>
                </div>
            </ol>
        </div>
        <table class="table table-hover">
            <tr>
                <th >序号</th>
                <th>询单时间</th>
                <th>采购商</th>
                <th>采购人</th>
                <th>联系方式</th>
                <th>询单编号</th>
                <th>询单商品</th>
                <th>供应商</th>
                <th>供应商报价</th>
                <th>己方报价</th>
                <th>询单跟踪</th>
                <th>操作</th>
            </tr>
            {if empty($enquiry)}
                <tr>
                    <td colspan="12">对不起！暂未查询到相关询单信息</td>
                </tr>
            {else}
                {volist name="enquiry" id="data"}
                    <tr>
                        <td>{$enquiry_no++}</td>
                        <td>{$data.enquiry_time}</td>
                        <td>{$data.purchaser_name}</td>
                        <td>{$data.contact_name}</td>
                        <td>{$data.contact_phone}</td>
                        <td>{$data.enquiry_sn}</td>
                        <td>{$data.product_name}</td>
                        <td>无</td>
                        <td>无</td>
                        <td>无</td>
                        <td><font color="red">待报价</font></td>
                        <th>
                            <a href="javascript:void (0);" class="enquiry_offer" id="{$data.id}">进行报价</a>
                        </th>
                    </tr>
                {/volist}
            {/if}
        </table>
        {if empty($enquiry)}
        {else}
            <div style="text-align: center">
                {$enquiry|raw}
            </div>
        {/if}

        <div style="height: 30px"></div>

        <div style="margin-top: 20px">
            <ol class="breadcrumb" style="height:50px">
                <li class="active">客户营销管理

                    <a href="{:url('Customer/customer_market_index')}"><img src="/market/img/enter.png" title="前往管理"></a>
                </li>
                <div style="float: right">
                    <div style="float:left">
                        <select id="is_fob">
                            {if $is_fob==null}
                                <option value="0" selected>默认</option>
                                <option value="1">化纤平台</option>
                                <option value="2">无纺平台</option>
                            {elseif $is_fob==1}
                                <option value="0">默认</option>
                                <option value="1" selected>化纤平台</option>
                                <option value="2">无纺平台</option>
                            {else $is_fob==2}
                                <option value="0">默认</option>
                                <option value="1">化纤平台</option>
                                <option value="2" selected>无纺平台</option>
                            {/if}

                        </select>
                    </div>
                    <div class="input-group" style="width: 200px;float: right">
                        <input type="text" class="form-control" id="customer_name" placeholder="全称搜索">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchs" type="button">搜索</button>
                        </span>
                    </div>
                </div>
            </ol>
        </div>

        <table class="table table-hover">
            <tr>
                <th>序号</th>
                <th>管理日期</th>
                <th>客户类型</th>
                <th>公司简称</th>
                <th>联系人</th>
                <!-- 管理类型循环      -->
                {volist name="market_type" id="data"}
                    <th>{$data.type_name}</th>
                {/volist}
                <th>操作</th>
            </tr>
            <tbody id="customer">
            {if empty($customer)}
                <tr>
                    <td colspan="18">对不起！暂未查询到营销管理数据！</td>
                </tr>
            {else}
                {volist name="customer" id="data"}
                <tr>
                    <td>{$market_no++}</td>
                    <td>{$data.market_time}</td>
                    <td>
                        {if $data.is_fob==1}
                            化纤平台
                        {else}
                            无纺平台
                        {/if}
                    </td>
                    <!--  点击公司简称，可查看并且编辑公司信息      待做        -->
                    <td><a href="javascript:void (0);" class="customer_short_name" id="{$data.id}">{$data.customer_short_name}</a></td>
                    <td>{$data.contact_name}</td>
                    {if $data.market}
                        {volist name="data.market" id="datas"}
                            <td>
                                {if $datas.market_type_id==6}
                                {if $datas.status==1}
                                <!-- 未交易 ×-->
                                <img src="/market/img/no.png">
                                {elseif $datas.status==2}
                                <!-- 线下交易 √ -->
                                <img src="/market/img/yes.png">
                                {elseif $datas.status==3}
                                <img src="/market/img/yes.png">
                                <!-- 线上交易 √ -->
                                {else}
                                <!-- 双线交易 √ -->
                                <img src="/market/img/yes.png">
                                {/if}
                                {else}
                                {if $datas.status==1}
                                <!-- × -->
                                <img src="/market/img/no.png">
                                {else}
                                <!-- √ -->
                                <img src="/market/img/yes.png">
                                {/if}
                                {/if}
                            </td>
                        {/volist}
                    {else}
                        <td colspan="11">您未曾对该客户进行过管理！</td>
                    {/if}

                    <th>
                        {if $data.market_time < date("Y-m-d",time())}
                            <a href="{:url('Customer/customer_market_add',['customer_id'=>$data.id,'y_m_d'=>$data.market_time])}">
                                开始今日管理
                            </a>
                        {else}
                            <a href="{:url('Customer/customer_market_update',['customer_id'=>$data.id])}">
                                修改今日管理
                            </a>
                        {/if}

                    </th>
                </tr>
                {/volist}
            {/if}
            </tbody>

        </table>
        {if empty($customer)}
        {else}
            <div style="text-align: center">
                {$customer|raw}
            </div>
        {/if}

        <!--引入尾部-->
        {include file="pub:foot"}
    </div>
</div>

<!--下拉栏平台类型查询-->
<script type="application/javascript">

    function post(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS){
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }

    //客户平台类型查询
    $(document).on('change',"select[id='is_fob']",function(){
        var is_fob =  $("#is_fob option:selected").val();
        if(is_fob==0){
            window.location.href="{:url('Customer/customer_index')}";return;
        }
        var data={
            is_fob:is_fob
        }
        post("{:url('Customer/customer_type_search')}",data);
    })


    $("#searchs").click(function () {
        var customer_name=$("#customer_name").val();
        var data={
            customer_name:customer_name
        }
        post("{:url('Customer/customer_type_search')}",data);
    })



    //报价状态查询
    $(document).on('change',"select[id='is_over']",function(){
        var is_over =  $("#is_over option:selected").val();
        if(is_over==0){
            window.location.href="{:url('Customer/customer_index')}";return;
        }
        var data={
            is_over:is_over
        }
        post("{:url('Customer/offer_price_search_status')}",data);
    })




    //询单进行报价
    $(".enquiry_offer").click(function(){
        var enquiry_id = $(this).attr('id');
        layer.prompt({title: '请填写该询单的对应报价，填写单位，价格和单位用"|"隔开', formType: 2}, function(price,index){

            $.ajax({
                type: "POST",
                url: "{:url('Customer/enquiry_offer')}",
                data: {
                    price:price,
                    enquiry_id:enquiry_id
                },
                dataType: "json",
                success:function(result){
                    if(result.code==200){
                        layer.msg(result.msg);
                        setTimeout(function(){
                            window.location.reload();
                        } ,1000)
                    }else{
                        layer.msg(result.msg);
                    }
                }
            })
            layer.close(index);
        });
    })

    //按钮查询
    $("#search").click(function(){
        var search_content = $("#search_content").val().trim();
        if(search_content==""){
            layer.msg("请输入要查询的内容！");return;
        }
        var data={
            search_content:search_content
        };
        post("{:url('Customer/purchaser_enquiry_search_button')}",data);
    })




</script>


</body>
</html>