	<!--头部引入-->
	{include file="common:top"}
	{if Cookie::get('think_var')=='en_us'}
	<script type="text/javascript">
		$("#menu_div a:contains('About Jean Leray')").attr("id","redcolor");
	</script>
	{else}
	<script type="text/javascript">
		$("#menu_div a:contains('走进让雷')").attr("id","redcolor");
	</script>
	{/if}
	<div id="middle_part">
		<div class="banner about-banner"></div>
		<div class="content about-content">
			<div class="fyy-section">
				<div class="inner-tit">  <img src="/static/picture/7b0ea55bbb.png" alt=""><i></i></div>
				<div class="inner-cnt">
					<!--走进中间公共部分引入-->
					{include file="common:walk_public"}
					<!--inner-detail S-->
					<div class="inner-detail">
						<div>
							<h4 style="margin:0px 0px 10px;padding:0px 0px 0px 10px;color:#555555;line-height:19px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:18px;font-weight:400;border-left-color:#195BBE;border-left-width:7px;border-left-style:solid;background-color:#ffffff;">​​​​​​​
								{:lang('张丽霞')}<br>
								<span style="padding:0px;font-size:13px;">COO</span>
							</h4>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;">{:lang('上海让雷智能科技有限公司COO，上海让雷智能科技有限公司创始人之一。')}</p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<h4 style="margin:0px 0px 10px;padding:0px 0px 0px 10px;color:#555555;line-height:19px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:18px;font-weight:400;border-left-color:#195BBE;border-left-width:7px;border-left-style:solid;background-color:#ffffff;">
								{:lang('邱长利')}<br>
								<span style="padding:0px;font-size:13px;">CEO</span>
							</h4>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;">{:lang('上海让雷智能科技有限公司CEO，上海让雷智能科技有限公司创始人之一。')}</p>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>

							<h4 style="margin:0px 0px 10px;padding:0px 0px 0px 10px;color:#555555;line-height:19px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:18px;font-weight:400;border-left-color:#195BBE;border-left-width:7px;border-left-style:solid;background-color:#ffffff;">
								{:lang('黄辉勇')}<br>
								<span style="padding:0px;font-size:13px;">CTO</span>
							</h4>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;">{:lang('上海让雷智能科技有限公司CTO，把握总体技术方向，监督技术研究与发展的活动，并对技术选型和具体技术问题进行指导和把关，完成所赋予的各项技术任务/项目。')}</p>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>


							<h4 style="margin:0px 0px 10px;padding:0px 0px 0px 10px;color:#555555;line-height:19px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:18px;font-weight:400;border-left-color:#195BBE;border-left-width:7px;border-left-style:solid;background-color:#ffffff;">
								{:lang('靳欢欢')}<br>
								<span style="padding:0px;font-size:13px;">{:lang('项目经理')}</span>
							</h4>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;">{:lang('上海华东大学纺织材料与纺织品设计专业毕业，纺织品行业7年+工作经验主持采购部的全面工作；领导采购部门的工作职能做好工作；根据项目营销计划和施工计划制订采购计划，并督导实施；制定本部门的物资管 理相关制度，使之规范化；主要负责项目规划和进展 (1)项目前期的成本核价(2)负责项目前期开发: 包括产品技术参数分析，制作产品质量要求文件；筛选合适供应商提供客户要求产品；(3)项目合同签订;(4)跟踪 项目的生产发货。')}</p>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<h4 style="margin:0px 0px 10px;padding:0px 0px 0px 10px;color:#555555;line-height:19px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:18px;font-weight:400;border-left-color:#195BBE;border-left-width:7px;border-left-style:solid;background-color:#ffffff;">
								{:lang('李静')}<br>
								<span style="padding:0px;font-size:13px;">{:lang('财务助理')}</span>
							</h4>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><span style="color:#666666;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;"></span>{:lang('中国人民解放军南京政治学院经济与行政管理专业毕业，财务岗位4+年工作经验，熟练使用相应 的财务软件、办公软件；熟悉外贸企业出口退税政策和出口退税业务；熟悉国家外汇管理法规、制度， 熟悉外汇收支操作业务；了解国家财政政策和会计、税务法规，熟悉银行结算业务。')}</p>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;color:#666666;line-height:24px;text-indent:28px;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;font-size:14px;background-color:#ffffff;margin-top:0px;margin-bottom:0px;"><br></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{if Cookie::get('think_var')=='en_us'}
		<script>
			$(".inner-menu li a:contains('Management Team')").attr("id","redcolor");
			$("#menu_div a:contains('Management Team')").attr("id","redcolor");
		</script>
		{else}
		<script>
			$(".inner-menu li a:contains('管理层')").attr("id","redcolor");
			$("#menu_div a:contains('管理层')").attr("id","redcolor");
		</script>
	{/if}
	{include file="common:foot"}
</div>
<div class="back-top">
	<a id="backTop"></a>
</div>
</body>
</html>
