<!--头部引入-->
{include file="common:top"}
{if Cookie::get('think_var')=='en_us'}
<script type="text/javascript">
	$("#menu_div a:contains('Jean Leray Culture')").attr("id","redcolor");
</script>
{else}
<script type="text/javascript">
	$("#menu_div a:contains('让雷文化')").attr("id","redcolor");
</script>
{/if}
	<div id="middle_part">
		<div class="banner about-banner" style="background-image:url(/static/image/zjwh123.jpg)"></div>
		<div class="content about-content">
			<div class="fyy-section">
				<div class="inner-tit">  <img src="/static/picture/3971516d5e.png" alt=""><i></i></div>
				<div class="inner-cnt">
					<!--头部引入-->
					{include file="common:culture_public"}
					<!--inner-detail S-->
					<div class="inner-detail">
						<div class="inner-detail-text">
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF">
								<span style="padding:0px;font-size:32px">
									<span style="padding:0px;color:#195BBE;font-weight:bold">{:lang('客户')}</span>
								</span>
							</h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('为客户创造长期价值，是我们的立足之本、动力之源。我们每个岗位，每个人都致力于满足内外部客户的期望和需求。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;font-size:32px"><span style="padding:0px;color:#195BBE;font-weight:bold">{:lang('创新')}</span></span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('远见、洞察力和创造力都是天赋每个人的智慧，围绕价值创造而创新，勇于尝试，并通过行动转化成果。只有创新才会导致变革，只有创新才能使变革富有成效。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('成果')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('要站在结果的角度去考虑问题，以达到目标为原则，不为困难所阻挠，不能轻易放弃。')}</p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;margin-top:0px;margin-bottom:0px;"><br></p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('真诚')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('心胸坦荡，用真实诚恳、坦诚相待去感动他人获取他人信任。以诚学习则无事不克，以诚立业则无业不兴。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('信任')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('信任是合作的基础，高信任的企业核心在于员工与企业达成心理契约，从而提高员工的工作满意度、工作参与度和组织承诺，进而实现员工对组织强烈归属感和对工作的高度投入。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('担当')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('担当是立身做事的基本条件，是我们合作的基石。它是一种责任，一种自觉，更是一种拼搏和奉献的精神，我们要勇挑重担、敢于负责。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('正念')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('全神贯注地沉浸于当下自身的内在状态，并感知周围发生的一切。唯有保持内心的平静和健康，才能更好地管理自身情绪，专注力、创造力和觉察力倍增，从而做出更优的决策，并且收获更多的正能量和幸福感。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('学习')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('面对瞬息万变的外部环境，我们必须持续学习，更新知识，并且能够及时在失败中汲取教训，探求合适的方向和方法。共同打造学习型组织，在学习中不断修炼，不断成长。')}</p>
							<h4 style="margin:50px 0px 10px;padding:0px;font-size:24px;font-weight:400;color:#555555;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF"><span style="padding:0px;color:#195BBE;font-weight:bold;font-size:32px">{:lang('关爱')}</span></h4>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;">{:lang('关爱之心是一种品德，也是一种境界。关爱的本质是快乐地以一己之力助他人成长，并让受助人也感到快乐。')}</p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"><br></p>
							<p style="padding:0px;font-size:14px;line-height:24px;color:#666666;font-family:微软雅黑, 宋体, tahoma, arial, sans-serif, 宋体;background-color:#FFFFFF;text-indent:28px;margin-top:0px;margin-bottom:0px;"><br></p>
							<p><br></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(".inner-menu li a:contains('员工行为规范')").attr("id","redcolor");
	</script>

{include file="common:foot"}
</div>
<div class="back-top">
	<a id="backTop"></a>
</div>


</body>

</html>
