<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海让雷智能科技有限公司</title>
</head>

<script type="text/javascript" src="/pdf/jquery.min.js"></script>
<script type="text/javascript" src="/pdf/jquery.media.js"></script>
<script type="text/javascript">
    $(function() {
        $('a.media').media({width:800, height:600});
        $('a.mediase').media({width:800, height:600});
    });
</script>



<body>
    <div class="panel panel-primary">
        <div class="panel-body" style="text-align: center">
            <iframe class="media" src="" width="1600px" height="900px" ></iframe>
        </div>
    </div>
    <script>
        $(function(){
            var searchUrl = window.location.href;
            var searchData = searchUrl.split("="); //截取 url中的“=”,获得“=”后面的参数
            var id = decodeURI(searchData[1]); //decodeURI解码
            $(".media").attr("src",id);
        })
    </script>
</body>
</html>