    <script type="text/javascript" src="/static/js/tj.js"></script><div class="footer">
    <div class="fyy-section">
        <p><a href="{:url('Index/index')}">{:lang('首页')}</a>::<a href="" target="_blank">{:lang('员工通道')}</a>::<a href="{:url('Ditu/index')}">{:lang('网站地图')}</a>::<a href="{:url('Renze/index')}">{:lang('责任声明')}</a>::<a href="{:url('About/index')}">{:lang('联系我们')}</a></p>
        <p><a href="http://www.beian.miit.gov.cn" target="_blank">沪ICP备17024305号-9</a></p>
	<div style="width:300px;margin:0 auto; padding:20px 0;">
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011802004048" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/static/picture/rangleibeian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31011802004048号</p></a>
	</div>
        <p><span>COPYRIGHT@2020 SHJLIT.COM，ALL RIGHTS RESERVED. </span></p>
    </div>