
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>让雷--门户网站后台管理</title>
    <meta name="Copyright" content="Douco Design." />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <link href="/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/admin/js/global.js"></script>
    <!--bootstrop引入-->
    {include file="pub:bootstrop"}
</head>
<body>
<div id="dcWrap">
    <!--顶部-->
    {include file="pub:top"}
    <!--左侧部分-->
    {include file="pub:left"}
    <!--中间部分-->
    <div id="dcMain"> <!-- 当前位置 -->
        <div id="urHere"><b>上海让雷智能科技有限公司--会员中心</b></div>
        <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">

            <div class="input-group">
                <input type="text" class="form-control" disabled aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><a href="{:url('Member/add')}">添加会员</a></span>
            </div>

            <div style="margin-top: 20px;;text-align:center">
                <table class="table table-hover">
                    <tr>
                        <th style="text-align: center">会员ID</th>
                        <th style="text-align: center">会员名称</th>
                        <th style="text-align: center">联系方式</th>
                        <th style="text-align: center">会员账号</th>
                        <th style="text-align: center">所属公司</th>
                        <th style="text-align: center">时间</th>
                        <th style="text-align: center">当前状态</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    {volist name="member" id="data"}
                    <tr>
                        <td style="text-align: center">{$data.id}</td>
                        <td style="text-align: center">{$data.name}</td>
                        <td style="text-align: center">{$data.phone}</td>
                        <td style="text-align: center">{$data.account}</td>
                        <td style="text-align: center">{$data.company}</td>
                        <td style="text-align: center">{:date('Y-m-d H:i:s',$data.time)}</td>
                        <td style="text-align: center">
                            {if $data.status==1}
                                <a href="javascript:void(0);" class="status_true" id="{$data.id}">正常</a>
                            {else}
                                <a href="javascript:void(0);" class="status_false" id="{$data.id}">冻结</a>
                            {/if}
                        </td>
                        <td style="text-align: center">
                            <a href="#" class="delete" id="{$data.id}">删除</a>
                            |
                            <a href="{:url('Member/update',['member_id'=>$data.id])}">编辑</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>

        </div>
        <!--引入尾部-->
        {include file="pub:foot"}
    </div>
</div>

<script>
    $(".delete").click(function(){
        var member_id = $(this).attr("id");
        $.ajax({
            type: "post",
            url: "{:url('Member/delete')}",
            data: {
                member_id:member_id,
            },
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg);
                    setTimeout(function(){
                        window.location.reload();//刷新当前页面.
                    },1000)
                }else{
                    layer.msg(data.msg);
                }
            }
        })
    })

    //会员冻结
    $(".status_true").click(function(){
        var id = $(this).attr('id');
        $.ajax({
            type: "post",
            url: "{:url('Member/status')}",
            data: {
                id:id,
            },
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg);
                    setTimeout(function(){
                        window.location.reload();//刷新当前页面.
                    },1000)
                }else{
                    layer.msg(data.msg);
                }
            }
        })
    })

    //会员解冻
    $(".status_false").click(function(){
        var id = $(this).attr('id');
        $.ajax({
            type: "post",
            url: "{:url('Member/status')}",
            data: {
                id:id,
            },
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg);
                    setTimeout(function(){
                        window.location.reload();//刷新当前页面.
                    },1000)
                }else{
                    layer.msg(data.msg);
                }
            }
        })
    })
</script>


</body>
</html>